@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) !important;
}

.leaflet-control-zoom a {
  background: white !important;
  color: #333 !important;
}

.leaflet-control-attribution {
  font-size: 10px;
  background: rgba(255, 255, 255, 0.8) !important;
}
